@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: 'Roboto', 'Open Sans', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #1F2937;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding: 0 10vw;

}

.header-logo {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.header-icon {
    height: 36px;
    width: auto;
    margin: 6px;
}

.header-text {
    font-size: 24px;
    color: #F9FAF8;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
    margin: 12px;
    padding: 12px;
}

a:hover {
    border-bottom-style: solid;
    border-bottom-color: #e5e7eb;
    border-width: 1px;
}

.section-one {
    background-color: #1F2937;
    padding: 10vh 10vw;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.one-left {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 1;
}

h2 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
    margin: 0;
    padding: 0;
}

.subtext {
    font-size: 18px;
    color: #e5e7eb;
    margin: 0;
    padding: 0;
}

button {
    background-color: #3882f6;
    border-radius: 4px;
    border-style: solid;
    color: #e5e7eb;
    padding: 8px 32px;
    width: fit-content;
    height: fit-content;
    font-weight: 900;
    font-size: 14px;
}

.sign-up-one {
    border-color: #3882f6;
}

.image-placeholder {
    background-color: rgba(0,0,0,0.5);
    padding: 75px 250px;
    margin: 24px;
    flex-wrap: nowrap;
}

.section-two {
    background-color: #F9FAF8;
    padding: 10vh 10vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.section-subtitle {
    font-weight: 900;
    font-size: 36px;
    color: #1F2937;
    margin: 0;
}

.box-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.box-pair {
    margin: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box {
    height: 150px;
    width: 150px;
    border-style: solid;
    border-radius: 16px;
    border-width: 4px;
    border-color: #3882f6;
    margin: 12px;
}

.box-text {
    width: 150px;
    text-justify: center;
    font-size: 18px;
    color: #1F2937;
}

.section-three {
    background-color: #e5e7eb;
    padding: 10vh 15vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.quote {
    color: #1F2937;
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    margin: 12px;
}

.author {
    align-self: flex-end;
    color: #1f2937;
    font-size: 18px;
    font-weight: 900;
}

.section-four {
    background-color: #F9FAF8;
    padding: 10vh 10vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.banner {
    background-color: #3882f6;
    border-radius: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 48px 0;
}

.banner-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h4 {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 900;
    margin: 0;
    padding: 0;
}

.sign-up-two {
    border-color: #F9FAF8;
}

.footer {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    padding: 2.5vh 0;
    color: #F9FAF8;
}